# Line
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# Ai
AI_PROVIDER=google
GOOGLE_API_KEY=

# DB
DATABASE_URL=postgresql://postgres:password@localhost:5432/expensebot

# App Port
PORT=3000

# Mode
NODE_ENV=development
